* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a.footer:hover, a.footer:active{font-size: 150%}

#background {
    background-image: url("https://i.pinimg.com/originals/59/9b/49/599b49d09b1e9a4014dac365dcf00d99.gif");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: center, center;
    background-size: 1920px;
    background-color: rgba(25,33,54,0.6);
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-rows: 1fr 16fr 16fr 1fr;
    grid-gap: 10px;
    height: 750px;
    width: 85%;
    margin: auto;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    height: 200px;
    width: 90%;
    margin: auto;
}

.grid-images-small {
    width: 175px;
    height: 175px;
    border-radius: 20px;
    box-shadow: 0px 0px;
    margin: 20px;
}

.grid-images-big {
    width: auto;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px;
    margin: 20px;
}

.img-somelinks {
    box-shadow: 2px 5px rgba(83,142,171,0.6);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    backface-visibility: hidden;
}

.img-somelinks:hover{
    opacity: 0.6;
}

.header {
    background: rgba(83,142,171, 0.5);
    border-radius: 100px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 1;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.about {
    background: rgba(83,142,171, 0.5);
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 20px;
    grid-column: 1;
    grid-row: 2 / 4;
    line-height: 40px;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.about2 {
    background: rgba(83,142,171, 0.5);
    border-radius: 30px;
    padding-top: 5px;
    padding-left: 20px;
    grid-column: 4;
    grid-row: 2 / 3;
    line-height: 30px;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.about3 {
    background: rgba(83,142,171, 0.5);
    border-radius: 30px;
    padding-top: 10px;
    padding-left: 20px;
    grid-column: 4;
    grid-row: 3 / 4;
    line-height: 30px;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.text-area {
    background: rgba(83,142,171, 0.6);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 2;
    grid-row: 2 / 3;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.text-area2 {
    background: rgba(83,142,171, 0.6);
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    grid-column: 2 / 3;
    grid-row: 3;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.image-gallery {
    background: rgba(83,142,171, 0.6);
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    grid-column: 3;
    grid-row: 2/4;
    border-style: solid;
    border-color: rgba(25,25,112,0.8);
}

.footer {
    background: rgba(66,141,174, 0);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 4;
    border-style: solid;
    border-color: rgba(25,25,112,0);
}

.list-setup{
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin-bottom: 16px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.text-setup{
    font-weight: bold;
    line-height: 20px;
    color: white;
    margin-bottom: 16px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -20px;
    margin-left: -75px;
    border-radius: 30px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    margin-top: -20px;
    padding: 15px;
    text-align: center;
}
